body {
    overflow-x: hidden;
}

p {
    font-variant: tabular-nums;
}

.card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-text {
    flex: 1;
}

.btn {
    align-self: center;
}

.badge-animetype {
    background-color: red !important;
}

.badge-quality {
    background-color: #0d6efd !important;
}

.film-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 51%;
}

.overlay {
    top: 0;
    left: 0;
    opacity: 0;
    width: 50%;
    height: 50%;
    background-color: rgba(105, 105, 105, 0.563);
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.card-horizontal:hover .overlay {
    opacity: 1;
    pointer-events: auto;
}